/* Default */

*    {margin: 0;padding:0;box-sizing: border-box;}
html {width: 100%;height: 100%;}
a,ul,li {text-decoration: none; list-style: none;}

/* Variables */

$violet: #6C53C8;
$violet-scrollbar:#56439b;
$white: whitesmoke;

/* Scroll Bar */

::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: $white;}
::-webkit-scrollbar-thumb {background: $violet-scrollbar;}


/* Grid Layout */

.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "section-one"
    "section-two"
    "section-three"
    "footer";
}

.header { grid-area: header;}
.nav { background-color: $violet; grid-area: nav;}
.section-one { grid-area: section-one;}
.section-two { grid-area: section-two;}
.section-three { grid-area: section-three;}
.footer {background-color: $violet; grid-area: footer;}
